In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
import shap
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import tree
import seaborn as sns
from sklearn.datasets import make_blobs, make_classification
from sklearn.inspection import DecisionBoundaryDisplay
from matplotlib import cm
from matplotlib.colors import ListedColormap, LinearSegmentedColormap
import sklearn.tree as tree
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
import tensorflow as tf
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.metrics import f1_score
from sklearn.mixture import GaussianMixture
from sklearn.preprocessing import StandardScaler

In [10]:
NBA = pd.read_csv("hf://datasets/suzyanil/nba-data/nba_games_stats.csv")
NBA.to_csv("NBA_dataset.csv", index=False)

In [11]:
NBA['WINorLOSS'] = LabelEncoder().fit_transform(NBA['WINorLOSS'])

In [5]:
X = NBA.drop(columns=['WINorLOSS', 'Date', 'Team', 'Opponent', 'Game', 'Unnamed: 0', 'Home','TeamPoints','OpponentPoints'])
y = NBA['WINorLOSS']
features = X.columns
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

gmm = GaussianMixture(n_components=3, random_state=42)
gmm.fit(X_scaled)

means = gmm.means_
covariances = gmm.covariances_
mixing_weights = gmm.weights_

# Print the results
print(means)
print(covariances)
print(mixing_weights)

[[-0.16759841  0.11307923 -0.27138255 -0.13008588  0.06975827 -0.24995517
  -0.08195229 -0.08768693 -0.00509855  0.13227157 -0.34905702 -0.18209352
   0.03854517 -0.28182805 -0.1015132  -0.13113132  0.46230557 -0.32516376
   0.73942853  0.37797164 -0.07866444  0.66287455 -0.10355609 -0.14216004
   0.05974341 -0.358842   -0.07645024  0.40347583 -0.04237908  0.10181359
   0.07945685 -0.08127652]
 [-0.41954247  0.18701192 -0.58235526 -0.37437909 -0.06241805 -0.523202
   0.20788064  0.26967078 -0.08651207  0.26656806  0.5256655  -0.3082065
   0.00556068  0.23708301  0.04459678  0.27243163 -0.46505416  0.20254023
  -0.6431994  -0.43316381 -0.077705   -0.5962469   0.22801735  0.29547765
  -0.09710797  0.29901709  0.51252504 -0.34849299  0.01148708  0.2167304
   0.03216656  0.25257451]
 [ 0.50592703 -0.26207166  0.73917124  0.43291634 -0.01493591  0.66993693
  -0.09350574 -0.13904146  0.07625988 -0.3460164  -0.10134217  0.42784391
  -0.04130823  0.07279668  0.05989496 -0.09993436 -0.0565658   0.14258888
  -0.17352475 -0.0025488   0.13907092 -0.13935063 -0.08954551 -0.10844931
   0.0232358   0.0950439  -0.35018598 -0.09672772  0.03089006 -0.27586805
  -0.10224053 -0.13103767]]
[[[ 0.81100426  0.46365296  0.55857776 ... -0.05253453  0.05831889
   -0.05174867]
  [ 0.46365296  0.8236688  -0.05545165 ...  0.20483509  0.10951493
   -0.1187571 ]
  [ 0.55857776 -0.05545165  0.63874871 ... -0.1943722  -0.01286175
    0.02368797]
  ...
  [-0.05253453  0.20483509 -0.1943722  ...  1.01107659  0.02335414
   -0.03414301]
  [ 0.05831889  0.10951493 -0.01286175 ...  0.02335414  0.99416003
    0.17314027]
  [-0.05174867 -0.1187571   0.02368797 ... -0.03414301  0.17314027
    0.82576413]]

 [[ 0.93144529  0.61308837  0.60788398 ... -0.06283558  0.05702387
   -0.06644695]
  [ 0.61308837  1.25733738 -0.13933296 ...  0.30569368  0.17445716
   -0.16489822]
  [ 0.60788398 -0.13933296  0.74276916 ... -0.26163868 -0.04990545
    0.03431922]
  ...
  [-0.06283558  0.30569368 -0.26163868 ...  1.19612957  0.04582807
   -0.04127903]
  [ 0.05702387  0.17445716 -0.04990545 ...  0.04582807  1.02170712
    0.16172054]
  [-0.06644695 -0.16489822  0.03431922 ... -0.04127903  0.16172054
    1.14273523]]

 [[ 0.80862927  0.49481163  0.50577113 ... -0.06243102  0.07527432
   -0.12607001]
  [ 0.49481163  0.8458566  -0.1205635  ...  0.15517613  0.08589386
   -0.19534332]
  [ 0.50577113 -0.1205635   0.66000145 ... -0.19193229  0.01408382
    0.01485167]
  ...
  [-0.06243102  0.15517613 -0.19193229 ...  0.7028286  -0.01004031
   -0.03862787]
  [ 0.07527432  0.08589386  0.01408382 ... -0.01004031  0.97032866
    0.14960312]
  [-0.12607001 -0.19534332  0.01485167 ... -0.03862787  0.14960312
    0.97205952]]]
[0.34291804 0.29710651 0.35997546]

In [14]:
densities = gmm.score_samples(X_scaled)

threshold = np.percentile(densities,1)
outliers = densities < threshold
NBA.iloc[outliers,0]

230       672
286       415
292       473
307       623
339       124
        ...
8910    55108
9177    76111
9203    20112
9528    17116
9778    21158
Name: Unnamed: 0, Length: 99, dtype: int64